*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    margin: 2em;
    
}

.main-container{
    display: flex;
    align-items: center;
    position: relative; 
    flex-wrap: wrap;
    width: 100%;
    height:120vh;
    
    
}
.sidebar{
    display: flex;
    position: absolute;
    padding: 50px;
    width: 150px;
    height: 120vh;
    background-color: rgb(129, 215, 237);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    border: none;
}
.sidebar li{
    width: 100%;
    height: auto;
    list-style: none;
}

.sidebar a{
    display: block;
    font-size: 50px;
    margin-bottom: 120px;
    color: white;
}

 .sidebar  a:hover{ 
    display: block;
    flex-wrap: wrap;
    background: white;
    color: rgb(96, 181, 238);
    transform: scale(1.1);
    transition: all .5s ease; 
    font-size: 50px;
    padding: 0px 37px;
    margin-left: 1%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;   
    
}
.hero-section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 95%;
    left: 150px;
    height: 120vh;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 5px .5px rgb(238, 232, 232);
    overflow: hidden; 
    
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 150px;
    padding: 50px;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
    border-top-right-radius: 50px;
} 

.top-nav{
    width: 100%;
    height: 150px;
    display: inline-block;
    align-items: center;

}

.logo img{
    width: 120px;
    height: 120px;
    padding: 20px;
    vertical-align: middle;  
}
h1{
    color: rgb(22, 170, 207);
    font-size: 42px;
}
.dropdown{
    display: flex;
    width: 100%;
    height: auto;
    align-items:flex-end;
    justify-content: end;
}
.dropbtn{
    padding: 20px 50px;
    display: flex;
    gap: 30px;
    border: none;
    cursor: pointer;
    background-color: rgb(246, 248, 249);
}
.dropbtn span{
    color: rgb(100, 203, 238);
}
.text{
    display: flex;
    position: relative;
    width: 76.5%;
    height: 150px;
    align-items: center;
    padding: 20px;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
    top: 10px;

}
.text p{
    color: rgb(40, 183, 196);
}
.text span{
    color: rgb(145, 142, 139);
}
.main-section{
    display:flex;
    position: relative;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    height: 120vh;
    box-shadow: 5px 5px 5px .5px rgb(252, 250, 250); 
}

.container-1{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 105vh;
}

.card-bx{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
}

.card-1{
    width: 20%;
    height: 95%;
    margin: 10px;
    padding: 1em;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
}
.card-1 img{
    width: 100%;
    height: 100%;
    border: 30px solid rgb(242, 245, 247);
    border-radius:100%;

}
.card-2{
    
    width: 40%;
    height: 95%;
    margin: 10px;
    padding: 2em;
    color: gray;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
}
.card-2 p{
display: flex;
gap: 30px;
}

.card-3{
    width: 40%;
    height: 95%;
    margin: 10px;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
}
.card-3 img{
    width: 100%;
    height: 100%;
    padding: 1em;
}

.step-progressbar {
    display: flex;
    position: relative;
    top:-200px;
    margin: 10px;
    justify-content: space-between;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
    width: 100%;
    height: 160px;
    align-items: center;
    padding: 2em;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}
.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-weight: 800;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 20px;
}

  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 10px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}
  
.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 10px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 4;
}
  .stepper-item.completed::after {
      position: absolute;
      content: "";
      border-bottom: 10px solid #409fde;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}
  .step{
    font-weight: 800;
    color: #3d96cd;
    font-size: 36px;
}

  .stepper-item.completed .step-counter {
      background-color: #3d96cd;
      
    }
  
  .stepper-item:first-child::before {
    content: none;
  }

  .stepper-item:last-child::after {
    content: none;
}

.container-2{
    display: flex;
    position: relative;
    flex-direction: column;
    top:-170px;
    width: 30%;
    height: 110vh;
    

}
  .applicant{
    display: flex;
    position: relative;
    top: -350px;
    flex-direction: column;
    width: 100%;
    height: 600px;
    margin: 10px;
    padding: 10px;
    gap:40px;
    
}
.application-bx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:-50px;
    width: 100%;
    height: 150px;
    padding: 50px;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
    border-left: 10px solid  rgb(138, 174, 72);   ;
    
}
  .application-bx-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:-50px;
    width: 100%;
    height: 150px;
    padding: 50px;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
    border-left: 10px solid  rgb(219, 154, 25);   ;
    
} 
 .application{
    width: 100%;
    display: inline-block;
    align-items: center;

}
 .application p{
    color: grey;
}
 .app-button{
    display: flex;
    position: relative;
    gap: 40px;
    width: 100%;
    height: auto;
    align-items:flex-end;
    justify-content: end;

}
 .app-btn{
     display: flex;
     padding: 10px 100px;
     border: none;
     color: rgb(138, 174, 72);
    }
.app-btn-1{
    display: flex; 
    padding: 10px 60px;
    border: none;
    color: rgb(219, 154, 25);
}
.app-button span{
    display: flex;
    align-items: center;
    padding: 20px;
    color:#409fde
}

.applicant-review{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top:490px;
    width: 99%;
    height: 20vh;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
    
}
.reviewer{
    display:flex;
    align-items: center;
    gap: 30px;
}
.a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 20%;
    padding: 50px;
    color: #8d9093; 

}
.a span{
    position: relative;
    right: 20px;
    padding: 20px;
    
}
.b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 30%;
    padding: 50px;
    color: #8d9093; 
    
}
.b img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 40%;
    padding: 50px;
    color: #8d9093;  
   
}
.application-bx-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:400px;
    width: 100%;
    height: 150px;
    padding: 50px;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
    border-left: 10px solid  rgb(219, 154, 25);   ;
    
}
.app-btn-2{
    display: flex;
    padding: 10px 60px;
    border: none;
    color: rgb(148, 152, 141);
}

.access-card{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 99%;
    height: 500px;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
    
}
.access-card p{
    align-items: center;
    display: flex;
    gap: 50px;
    position: relative;
    left: 20px;
    color: grey;
}
.access-card h3 {
color: #7a9aaf;

}

.access-card-icon{
   font-size: 24px;
   padding: 12px;
   border: 15px solid rgb(244, 237, 237);
   border-radius: 50px;
   color: #fff;
   background: rgb(195, 181, 181);
}
.access-card-icon-applicant{
    font-size: 24px;
    padding: 12px;
    border: 15px solid rgb(244, 237, 237);
    border-radius: 50px;
    color: #fff;
    background: rgb(97, 158, 208);
}

.access-card-icon-msg{
    font-size: 24px;
    padding: 12px;
    border: 15px solid rgb(244, 237, 237);
    border-radius: 50px;
    background: rgb(224, 178, 45);
    color:  rgb(248, 243, 242);;
    
}

.notification-number{
    display: flex;
    position: absolute;
    right: 410px;
    background:rgb(224, 158, 45);
    width: 16px;
    height: 16px;
    border-radius: 50px;
    
}
.application-dtls-bx{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
    padding: 50px;
    border-bottom-right-radius: 50px ;

}
.application-dtls{
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 50px;
    border-bottom: 1px solid rgb(210, 197, 197);
}
.application-dtls-bx h3{
    color: #7a9aaf;
}
.application-dtls h4 {
    display: flex;
    position: relative;
    color: rgb(151, 150, 150);
    font-size: 32px;
}   
.application-dtls p {
    display: flex;
    position: relative;
    color: #b3b7ba;
    font-size: 24px;
}
.application-review{
    display: flex;
    position: relative;
    padding: 30px;
    flex-direction: column;
    gap: 50px;
    
}
.application-review h4 {
    display: flex;
    position: relative;
    color: rgb(151, 150, 150);
    font-size: 32px;
}   
.application-review p {
    display: flex;
    position: relative;
    color: #b3b7ba;
    font-size: 24px;
}



@media (max-width: 767px) {
    .main-container{
        display: block;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

     }
     .sidebar{
        display: flex;
        position: relative;
        width: 100px;
    }
    .sidebar li{
        width: 100%;
    }
    
    .sidebar a{
        display: block;
        font-size: 32px;
        margin-bottom: 150px;
        color: white;
    }
    
     .sidebar  a:hover{ 
        background: white;
        color: rgb(96, 181, 238);
        transform: scale(1.1);
        transition: all .3s ease; 
        font-size: 30px;
        padding: 10px 20px;
        margin: 5px;  
        cursor: pointer;      
        
    }
     .hero-section {
        display: block;
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 10px;
        left: 110px;

      }
    
    header{
        display: block;
        gap:30px;
        align-items: center;
        position: relative;
        width: 100%;
        height: 110px;
        padding: 20px;
    } 
    .top-nav{
        width: 100%;
        height: 150px;
        display: inline-block;
        align-items: center;
    
    }
    
    .logo img{
        width: 70px;
        height: 70px;
        padding: 10px;
        vertical-align: middle;  
    }
    h1{
        color: rgb(22, 170, 207);
        font-size: 24px;
    }
    .dropdown{
        display: flex;
        width: 100%;
        height: auto;
    }
    .dropbtn{
        position:absolute;
        padding: 10px 20px;
        margin: 20px;
        display: flex;
        top:10px;
    }
    .dropbtn span{
        color: rgb(100, 203, 238);
    }
    .text{
        display: flex;
        position: relative;
        width: 100%;
        height: 100px;
    }

    .text p{

        font-size: 20px;
    }
    .main-section{
        display:flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        gap: 20px;
        margin-top: 20px;
    }
    
    .container-1{
        position: absolute;
        flex-wrap: wrap;
        width: 800px;
        bottom: 0;
    }
    
    .card-bx{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        top:-250px;
        height: 500px;
        align-items: center;
        justify-content: center;
    
    }
    
    .card-1{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        left: 0;
        top: -5px;
        width:200px;
        height: 200px;
        margin: 5px;
        padding: 10px; 
    }
    .card-1 img{
        position: relative;
        align-items: center;
        width: 120px;
        height: 120px;
    
    }
    .card-2{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 300px;
        height:200px;
        left:-30px;
        top:-25px;
        margin: 5px;
        padding: 10px;  
    
    }
    .card-2 p{
    display: flex;
    position: relative;
    left: 0px;
    font-size: 16px;
    gap: 10px;
    }
    .card-2 h2{
        font-size: 18px;
    }
    .card-3{
        display: flex;
        position: relative;
        left: -70px;
        width: 80%;
        height: 250px;
        margin: 0px;
    
    }
    .card-3 img{
        width: 100%;
        height: 100%;
        padding:10px;
    }
    
    .step-progressbar {
        display: flex;
        position: absolute;
        width: 60%;
        top:220px;
        height: 100px;
        font-size: 12px; 
        
      }
       .stepper-item .step-counter {
        display: flex;
        position: relative;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    
      .step{
        font-weight: 600;
        color: #3d96cd;
        font-size: 18px;
      }
    
    .container-2{
        display: flex;
        position: relative;
        flex-direction: column;
        top:0px;
        width: 30%;
        height: 110vh; 
    
    }
      .applicant{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 95%;
        height: 200px;
        margin: 10px;
        padding: 10px;
        gap:20px;
        top:-650px;
        
    }
    .application-bx{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top:-100px;
        width: 65%;
        height: 600px;
        padding: 10px;
        
    }
      .application-bx-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top:-100px;
        width: 65%;
        height: 100px;
        padding: 10px;  
    } 
     .application{
        width: 100%;
        align-items: center;
    
    }
     .application p{
        font-size:20px;
    }
     .app-button{
        display: flex;
        position: relative;
        gap: 20px;
        width: 100%;
        align-items:flex-end;
        justify-content: end;
    
    }
     .app-btn{
         display: flex;
         padding: 10px 50px;
         font-size: 16px;
         
        }
    .app-btn-1{ 
        display: block;
    
        padding: 10px 30px;
        font-size: 16px;
    }
    .app-button span{
        padding: 10px;
    }
    
    .applicant-review{
        display: flex;
        position: absolute;
        top:160px;
        width: 65%;
        height: 15vh;   
    }

    .applicant-review{
        display: flex;
        position: absolute;
        justify-content: space-between;
        top:490px;
        width: 99%;
        height: 20vh;
        box-shadow: 10px 1px 20px 0.5px rgb(218, 224, 231);  
        
    }
    .reviewer{
        display:flex;
        align-items: center;
        gap: 20px;
    }
    .a{
        display: flex;
        position:relative;
        top: -380px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 10%;
        padding:0px; 
        font-size: 20px;
    
    }
    .a span{
        position: relative;
        right: 10px;
        padding: 10px;
        
    }
    .b{
        display: flex;
        position: relative;
        top: -400px;
        left: -150px;
        gap: 50px;
        width: 20%;
        padding: 0px;
        font-size: 20px;
        
    }
    .b img{
        width: 70px;
        height: 70px;
        border-radius: 50px;
    }
    .c{
        display: flex;
        position: relative;
        top:-400px;
        left: -300px;
        gap: 0px;
        width: 20%;
        padding: 0px;
        font-size: 20px;
       
    }
    .application-bx-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top:180px;
        width: 65%;
        height: 100px;
        padding: 10px;
        
    }
    .app-btn-2{
        display: flex;
        padding: 5px 20px;
        font-size: 16px;
    }
    
    .access-card{
        display: flex;
        position: absolute;
        flex-direction: column;
        bottom:460px;
        gap: 5px;
        width: 300%;
        height: 250px;
        padding: 10px;  
    }
    .access-card p{
        display: flex;
        position: relative;
        align-items: center;
        gap: 15px;
        left:5px;
        font-size: 20px;
    }
    .access-card h3 {
    font-size: 24px;
    
    }
    
    .access-card-icon{
       font-size: 16px;
       padding: 5px;

    }
    .access-card-icon-applicant{
        font-size: 16px;
        padding: 5px;

    }
    
    .access-card-icon-msg{
        font-size: 16px;
        padding: 5px;
        
    }
    
    .notification-number{
        position: absolute;
        right: 410px;
        background:rgb(224, 158, 45);
        width: 12px;
        height: 12px;
        display: flex;
        
    }
    
    .application-dtls-bx{
        display: flex;
        position:absolute;
        width: 300%;
        height: 410px;
        bottom: 50px;
        padding: 10px;
    
    }
    .application-dtls{
        display: flex;
        padding: 5px;
        flex-direction: column;
        gap: 0px;
    }
    .application-dtls-bx h3{
        font-size: 24px;
    }
    .application-dtls h4 {
        font-size: 16px;
    }   
    .application-dtls p {
        font-size: 16px;
    }
    .application-review{
        display: flex;
        padding: 5px;
        gap:0px;   
        overflow: hidden;
    }
    .application-review h4 {
        font-size: 16px;
    }   
    .application-review p {
        font-size: 16px;
    }
    




} 